{% extends "base.html" %}


{% block content %}
    <div class="mask"></div>
  <div id="cont">
      <div id="con33"></div>
      <div id="con333" style="border: inset; height:100px; display:none">
          <div id="file_div" align="left" style="width: 400px; float:left;">
              <label style="color:navy; font-size: 17px; font-family: sans-serif;">Trace File:</label>
                <select id="trace_file_name" onchange="changeTraceFile()" style="display:none">
                    <option selected>Video1_HTTP1.1</option>
                    <option>Video1_HTTP2.0</option>
                    <option>Video1_QUIC</option>
                    <option>Video2_HTTP1.1</option>
                    <option>Video2_HTTP2.0</option>
                    <option>Video2_QUIC</option>
                    <option>Video3_HTTP1.1</option>
                    <option>Video3_HTTP2.0</option>
                    <option>Video3_QUIC</option>
                    <option>Video4_HTTP1.1</option>
                    <option>Video4_HTTP2.0</option>
                    <option>Video4_QUIC</option>
                </select>
          </div>
          <div id="video_div" align="left" style="width: 400px; float:left;">
              <label style="color:navy; font-size: 17px; font-family: sans-serif;">Video File:</label>
                <select id="video_file_name" onchange="changeTraceFile()" style="display:block">
                    <option selected>Video1</option>
                    <option>Video2</option>
                    <option>Video3</option>
                    <option>Video4</option>
                </select>
          </div>

          <div id="sampling_div" align="left" style="float:left; display:none">
              <label style="color:navy; font-size: 17px; font-family: sans-serif;">Reduction Way:</label>
              <select id="sampling_type" onchange="changeTraceFile()">
                    <option selected>Binning</option>
                    <option>Random Sampling</option>
                    <option>Adaptive Sampling</option>
                    <option>Reservoir Sampling</option>
              </select>
              <select id="sampling_type2" onchange="changeTraceFile()">
                    <option selected>Random Sampling</option>
                    <option>Adaptive Sampling</option>
                    <option>Reservoir Sampling</option>
              </select>
                <label><br></label>
              <label style="color:navy"> Number of Samples</label>
              <input id="samplingNo" type="text" name="SamplingNo" value="100" onchange="changeTraceFile()" style="width: 50px; height: 23px;">
          </div>
          <!--<label><br></label>-->
      </div>

      <div id="con3333" style="z-index: 1;">
          <div id="trace_table" style="display:none">

              <label><br></label>
              <table border="1" width="130%" id="table">
                  <tr>
                      <th>No.</th>
                      <th>Time</th>
                      <th>Source</th>
                      <th>Destination</th>
                      <th>Protocol</th>
                      <th>Length</th>
                  </tr>
              </table>
          </div>
          <div class="loader" align="center" id="loader" style="float:left; display:none">
              <!--<img id="radio" align="center" src="{{ url_for('static',filename='images/radio.gif') }}">-->
          </div>

          <div class="parcoords" id="parcood_chart" align="left" style="float:left; width:900px;height:400px"></div>

          <div class="chart-wrapper" id="chart-wrapper">
              <div class="chart-stage">
          <!--<div class="chart-title">-->
                  <div id="chart"></div>

                  <div id="all_charts" style="display:none;">
                      <!--<label id="chart1_label" style="height: 300px; width: 400px">Packet Size</label>-->
                      <!--<div style="float: left;">-->
                          <!--<div class="chart-title" id="chart1_label" style="height: 40px; width: 400px; font-size:200%; color:#2471A3;"><font face="Times New Roman">Average Packet Size</font></div>-->
                          <!--<div id="chart1" style="height: 300px; width: 400px"></div>-->
                      <!--</div>-->
                      <div class="header_and_chart">
                          <div class="chart_headers" id="chart2_label"><font face="Times New Roman">Average Payload Size</font></div>
                          <div class="multiple_charts" id="chart2"></div>
                      </div>
                      <div class="header_and_chart">
                          <div class="chart_headers" id="chart3_label"><font face="Times New Roman">Average Header Size</font></div>
                          <div class="multiple_charts" id="chart3"></div>
                      </div>
                      <div class="header_and_chart">
                          <div class="chart_headers" id="chart4_label"><font face="Times New Roman">Packet Number</font></div>
                          <div class="multiple_charts" id="chart4"></div>
                      </div>
                      <div class="header_and_chart">
                          <div class="chart_headers" id="chart5_label"><font face="Times New Roman">Throughput</font></div>
                          <div class="multiple_charts" id="chart5"></div>
                      </div>
                  </div>
              </div>
          </div>
                <!-- -->
          <!--</div>-->
      </div>


      <div id="con33333" style="height:100px; border: inset; display:none">
          <div align="left" style="width: 400px; float:left;">
                <label style="color:navy; font-size: 17px; font-family: sans-serif;"> Protocols: <br> </label>
                <input type="checkbox" name="protocol" id="HTTP1.1_protocol" value="HTTP1.1" onclick="changeProtocol()" checked> HTTP1.1 <br>
                <input type="checkbox" name="protocol" id="HTTP2.0_protocol" value="HTTP2.0" onclick="changeProtocol()" checked> HTTP2.0 <br>
                <input type="checkbox" name="protocol" id="QUIC_protocol" value="QUIC" onclick="changeProtocol()" checked> QUIC <br>
          </div>
          <div align="left" style="float:left;">
              <div>
                    <label style="color:navy; font-size: 17px; font-family: sans-serif;"> Videos: <br> </label>
              </div>
              <div id="videos"></div>
          </div>
          <div>
              <label style="color:navy; font-size: 17px; font-family: sans-serif;"> Group/UnGroup: <br> </label>
                <input type="checkbox" name="protocol" id="Group_Data" value="Group_Data" onclick="groupData()"> Group Data<br>
                <input type="checkbox" name="protocol" id="Total_Average" value="Group_Data" onclick="averageTotal()"> Total Average<br>

          </div>
      </div>
  </div>

{% endblock %}
